body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
.column {
    /* text-align: justify; */
    padding-left: 10%;
    padding-right: 10%;
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
}

.hecho{
    text-align: center;
}
.jesus-info{
    margin-right: 10%;
    text-align: justify;
}

.picture-of-jesus
{
    float:left;
    margin-top: -5%;
    margin-left: 10%;
    margin-right: 5%;
}
p {
    font-size: 16px;
}
.margin {
    margin-bottom: 45px;
}
.bg-1 {
    background-color: #7fffd4; /* Green */
    color: black;
}
.bg-2 {
    background-color: white; /* Dark Blue */
    color: #474e5d;
}
.bg-3 {
    background-color: #474e5d; /* White */
    color: white;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
/* .my-carousel{
    background-color: #8d8bfd;
} */
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
  
.carousel-inner img {
    margin: auto;
}
.jumbotron{
    background-color: #dc143c;
}
 